<%= turbo_frame_tag "products" do %>
    <% @products.each do |product| %>
        <p class="mt-5"><b>Name:</b> <%= product.name %> </p>
        <p class="mt-2"><b>UPC:</b> <%= product.upc %> </p>
        <p class="mt-2"><b>Available On:</b> <%= product.available_on.strftime("%d/%m/%Y")  %> </p>
        <p class="mt-2"><b>Properties:</b> ( <%= properties_listing_of product %> )
    <% end %>
<% end %>