<%= current_user.email %>

<h2>Product</h2>

<% if @product.errors.any? %>
    <%= render "shared/validation_errors", model: @product %>
<% end %>


<%= form_with model: @product do | prod | %>
    <%= prod.label :name %>
    <%= prod.text_field :name %>

    <br>

    <%= prod.label :upc, "UPC" %>
    <%= prod.text_field :upc %>

    <br>

    <%= prod.label :available_on %>
    <%= prod.date_field :available_on %>

    <br>

    <h3>Properties</h3>

    <%= prod.fields_for :product_properties do | prod_prop | %>
        <%= prod_prop.label :value, "Property Value" %>
        <%= prod_prop.text_field :value %>

        <%= prod_prop.fields_for :property do | prop | %>
            <%= prop.label :name, "Property Name" %>
            <%= prop.text_field :name %>
        <% end %>
    <% end %>

    <br>

    <%= prod.submit %>
<% end %>