<%= current_user.email %>

<h2>Product</h2>

<% if @product.errors.any? %>
    <%= render "shared/validation_errors", model: @product %>
<% end %>


<%= form_with model: @product do | prod | %>
    <%= prod.label :name %>
    <%= prod.text_field :name %>

    <br>

    <%= prod.label :upc, "UPC" %>
    <%= prod.text_field :upc %>

    <br>

    <%= prod.label :available_on %>
    <%= prod.date_field :available_on %>

    <br>

    <h3>Properties</h3>

    <table>
        <thead>
        <tr>
            <th>Property Value</th>
            <th>Property Name</th>
        </tr>
        </thead>
        <tbody class="product_properties">
            <%= prod.fields_for :product_properties do | prod_prop | %>
                <%= render "product_property_fields", f: prod_prop %>
            <% end %>
        </tbody>
    </table>

    <br>

    <div class="links">
        <%= link_to_add_association 'Add More Properties', prod, :product_properties %>
    </div>

    <br>

    <%= prod.submit %>
<% end %>